@import "../Abstract/Variables.scss";

.workspace_preview {
  background-color: $ws-p;
  flex-grow: 1;

  &_resizable {
    background-color: $ws-re;
    height: 100%;
    width: 4px;
    display: block;
    float: left;
    transition: all ease-in-out 0.2s;

    &:hover {
      background-color: $ws-re_h;
      cursor: e-resize;
    }
  }
}
